<%= form_for @author, html: { multipart: true } do |f| %>
	  <div class="form-group text-center">
          <%= f.text_field :name, label: 'Наименование', placeholder: 'Наименование', class: 'form-control'%>
        </div>
          <div class="form-group text-center">
          <%= f.submit class: 'btn-success btn-block' %>
        </div>
<% end %>