<div class="container">
    <div class="row">
      	<div class="col-md-2">
  		<hr />
   	 	<% @books.each do |book| %>
      		<a href="/books/<%= book.id %>"><%= image_tag book.image.url(:medium), class: 'book' %></a>
    	 <% end %>
       </div>
    </div>
</div>
