<div class="container-3">
	<div class="review-rating" data-score="<%= review.rating %>"> </div>

	<div class="review-comment">
		<p><%= review.comment %></p>
	</div>
	<% if user_signed_in? %>
		<% if review.user_id == current_user.id %>


		<button type="button" id="delete-btn" class="btn btn-default"  aria-label="Trash">
			<%= link_to 'Delete', book_review_path(review.book, review),  method: :delete %> 
		    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>

		<% end %>
	<% end %>
</div>
